<div class="section">
  <div class="container">
  <div class="content text-center">
    <h3 class="headline">Link created!</h3>
    <p class="subtitle">Send this link to someone to share your secret with them a single time</p>
  </div>

  <button class="link-well text-center secret-link-well fake-button" tabIndex="0" onclick="copy('front-element', 'secret-link')">
    <div class="text-container">
      <code class="front-element" id="front-element">Copied! </code>
      <code class="back-element fake-link" id="secret-link"  ><%= Routes.secret_url(@conn, :gate, @slug, key: @key) %></code>
    </div>
    <div class="center-vert-container"> <span class="center-vert icon icon-copy white-icon"></span></div>
  </button>
  <div class="text-center">
    <p class="subtitle">Want to double check? You can see your secret one more time if you need to.</p>
  </div>

  <div class="secret-container text-center">
    <input type="checkbox" id="show_secret" role="button">
    <label class="button button-primary button-outline" for="show_secret" onclick="" tabIndex="0">
      <span>Show the Secret Again</span><span>Hide Secret</span></label>
    <section class="secret-section">
      <button class="fake-button secret-well" onclick="copy('front-element-text', 'secret-text')" tabIndex="0" type="submit">
        <div class="text-container">
          <code class="front-element wrap-and-no-background" id="front-element-text">Copied! </code>
          <code id="secret-text" class="wrap-and-no-background"><%= @plain_text %></code>
        </div>
        <div class="center-vert-container"> <span class="center-vert icon icon-copy blue-icon"> </span></div>
      </button>
    </section>
  </div>
  </div>
</div>

<script>
  function copy(frontId, contentId) {
    /* Get the text field */
    const frontElement = document.getElementById(frontId);
    const link = document.getElementById(contentId).innerText;
    navigator.clipboard.writeText(link);

    frontElement.style.display = 'flex';
    setTimeout(() => {frontElement.style.display = "none";}, 1000)
  }
</script>
