<div class="section">
  <div class="container">
  <div class="text-center">
    <h3 class="headline">You found a secret!</h3>
    <p class="subtitle">Click the button to see it once and delete it from our service forever</p>
    <%= button "View Secret", method: "post", to: Routes.secret_url(@conn, :show, @slug, key: @key), type: "submit", class: "button button-primary", tabIndex: "0" %>
  </div>
</div>
