<div class="section">
  <div class="container">
    <div class="text-center">
      <h3 class="headline">There is no secret here.</h3>
      <p class="subtitle">Each link is only useful once. If the link was used, the content is gone forever. It's possible that this link is incorrect and there was never a secret here</p>
      <br/>
      <div>
        <p class="subtitle">Have something to share?</p>
        <%= button "Share a  new Secret", method: "get", to: Routes.secret_path(@conn, :new), class: "button button-primary button-outline", tabIndex: "0", type: "submit" %>
      </div>
    </div>
  </div>
</div>
