<div class="section">
    <div class="container">
        <div class="text-center">
            <h1 class="headline"><strong>Share a secret,</strong> one time and one time only</h1>
            <p class="subtitle">We'll encrypt it and give you a one time link to share with someone else</p>
        </div>
        <div class="row new-secret-form-container">
          <%= form_for @changeset, Routes.secret_path(@conn, :create), [class: "new-secret-form"], fn f -> %>
            <div class='form-group'>
              <div class="column">
                <%= textarea f, :plain_text,
                [class: "form-control secret-textarea",
                required: true] %>
              </div>
            </div>

            <div class="text-center">
                <%= submit "Create a Secret Link", [class: "button button-primary", tabindex: "0"] %>
            </div>
          <% end %>
        </div>
    </div>
</div>
<div class="section">
  <div class="hiw-panel text-center">
    <h1 class="hiw-title">How It Works</h1>
  <div class="row">

      <div class="hiw-step column">
          <h2>Encrypt a Secret</h2>
          <img src="/images/encrypt.svg">
          <p>Text you enter is encrypted with a new random secure key. Otaoto only stores the encrypted content and a hash of the key to help filed the secret later</p>
      </div>
      <div class="hiw-step column">
          <h2>Create a Link</h2>
          <img src="/images/create-link.svg">
          <p>Each link contains two parts, a three word sequence to identify the encrypted secret, and the decryption key.  Otaoto doesn't store that key, the key in your link is the only copy</p>
      </div>
      <div class="hiw-step column">
          <h2>Open the Link</h2>
          <img src="/images/open-link.svg">
          <p>When you visit a link with a secret, Otaoto confirms that there is a secret with that three word sequence and checks to make sure the right key is present</p>
      </div>
      <div class="hiw-step column">
          <h2>Destroy the Secret</h2>
          <img src="/images/burn-secret.svg">
          <p>If all the correct information is present, Otaoto deletes everything from the database, then sends the decrypted text to you. Everything has been deleted, that link will never be usable again</p>
      </div>
  </div>
  </div>
</div>
