<div class="section">
  <div class="container">
  <div class="text-center">
    <h3 class="headline">Your secret</h3>
    <p class="subtitle">Put it somewhere safe! We've already deleted our copy</p>
    <section class="secret-section">
      <button class="secret-well fake-button" onclick="copy('front-element-text', 'secret-text')" tabIndex="0" type="submit">
        <div class="text-container">
          <code class="front-element wrap-and-no-background" id="front-element-text">Copied! </code>
          <code id="secret-text" class="wrap-and-no-background"><%= @plain_text %></code>
        </div>
        <div class="center-vert-container"> <span class="center-vert icon icon-copy blue-icon"> </span></div>
      </button>
    </section>
    <br />
    <div>
      <p class="subtitle">Have something else to share?</p>
      <%= button "Share a  new Secret", method: "get", to: Routes.secret_path(@conn, :new), class: "button button-primary button-outline", tabIndex: "0", type: "submit" %>
    </div>
  </div>
</div>
</div>

<script>
  function copy(frontId, contentId) {
    /* Get the text field */
    const frontElement = document.getElementById(frontId);
    const link = document.getElementById(contentId).innerText;
    navigator.clipboard.writeText(link);

    frontElement.style.display = 'flex';
    setTimeout(() => {frontElement.style.display = "none";}, 1000)
  }
</script>
