/* This file is for your main application CSS */
@import "./phoenix.css";

body{
  font-size: 16px;
  line-height: 20px;
}
/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* This file is for your main application css. */

.app-logo {
  height: 3em;
}

body {
  margin: 0px;
}

.text-center {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

textarea {
  font-size: 16px;
  line-height: 20px;
  resize: vertical;
  width: inherit;
  max-width: 100%;
  min-height: 5em;
  color: #266b99;
}

.hiw-title {
  font-weight: 600;
  padding: 3rem 0;
}

.hiw-step h2 {
  font-weight: 400;
  padding-bottom: 3rem;
}

.hiw-step p {
  padding: 3rem;
}

.full-height {
  height: 100vh;
}

.section {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
}

.content {
  vertical-align: middle;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.new-secret-form-container {
  display: flex;
}

.new-secret-form {
  margin: auto;
  width: 100%;
}

footer {
  padding-top: 3rem;
}

.hiw-panel {
  background-color: #00aeef;
  color: #fff;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default {
  background-color: white;
}

.navbar {
  border-radius: 0px;
}

.fake-button {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: inherit;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  color: inherit;
}

.fake-button:hover,.fake-button:focus {
  background: none;
  color: inherit;
}

.secret-link-well {
  padding: .25em;
  background: #00aeef;
  border: 2px solid #00aeef;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-content: center;
}

.secret-link-well:hover,
.secret-link-well:focus {
  background: #266b99;
  border-color: #266b99;
}

.fake-link {
  background: none;
  color: #fff;
  word-break: break-all;
  white-space: normal;
}

.secret-section {
  margin-top: 2rem;
}

.logo {
  display: inline-block;
  margin: 1rem;
}
.secret-textarea {
  padding: 1em;
  border: 2px solid #00aeef;
}

.secret-textarea:hover,.secret-textarea:focus {
  border-color: #266b99;
}

.text-container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: 100%;
}

.text-container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.secret-link-well .front-element {
  background-color: #00aeef;
  color: white;
}

.text-container .front-element {
  z-index: 2;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.secret-link-well:hover .front-element,
.secret-link-well:focus .front-element{
  background-color: #266b99;
}

.text-container .back-element {
  z-index: 1;
}

.wrap-and-no-background {
  background: none;
  white-space: normal;
  word-wrap: anywhere;
  text-align: left;
}

.secret-well {
  padding: .25em;
  border: 2px solid #00aeef;
  background: none;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  color: #266b99;
}

.secret-well:hover,
.secret-well:focus {
  background-color: #f4f5f6;
  border-color: #266b99;
}

.secret-well .front-element {
  background-color: white;
  color: #00aeef;
}

.secret-well:hover .front-element,
.secret-well:focus .front-element {
  background-color: #f4f5f6;
  color: #266b99;
}

.secret-well:hover .blue-icon,
.secret-well:focus .blue-icon {
  background-color: #266b99;
}

/* Custom color */
.button-primary {
  background-color: #00aeef;
  border-color: #00aeef;
}
.button-primary.button-clear,
.button-primary.button-outline {
  background-color: transparent;
  color: #00aeef;
}
.button-primary.button-clear {
  border-color: transparent;
}

.button-primary:hover, .button-primary:focus {
  background-color: #266b99;
  border-color: #266b99;
}

.button-primary.button-outline:hover,
.button-primary.button-outline:focus {
  color: #266b99;
  border-color: #266b99;
}

.no-margin {margin: 0px;}

.icon-copy {
  mask: url(/images/copy-solid.svg);
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  mask-size: cover;
}

.white-icon {
  background: white;
}

.blue-icon {
  background: #00aeef;
}

.center-vert-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.headline {
  color: #00aeef;
}

h3.headline {
  font-weight: 600;
}

.subtitle {
  color:#888;
  /* font-style: italic; */
}

p { margin-bottom: 1.3rem }

.view-secret {
  padding-left: 1em;
  padding-right: 1em;
}

.secret-container {
  position: relative;
  zoom: 1;
}

.secret-container:before, .secret-container:after {
  content: "";
  display: table;
}

.secret-container:after { clear: both }

.secret-container section:last-of-type {
  display: none;
  visibility: hidden;
}

section {
  -webkit-transition: .125s linear;
  -moz-transition: .125s linear;
  -ms-transition: .125s linear;
  -o-transition: .125s linear;
  transition: .125s linear;
}

input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

[for="show_secret"] {
  width: auto;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
}

[for="show_secret"]:hover {
  background: rgba(0,0,0,.5);
  color: rgb(255,255,255);
}

[for="show_secret"] span:last-of-type {
  display: none;
  visibility: hidden;
}

input[type=checkbox]:checked ~ section {
  display: block;
  visibility: visible;
  width: 100%;
}

input[type=checkbox]:checked ~ [for="show_secret"] span:first-of-type {
  display: none;
  visibility: hidden;
}

input[type=checkbox]:checked ~ [for="show_secret"] span:last-of-type {
  display: block;
  visibility: visible;
}
